body {
    background-color: black;
}

/*navbar*/
.topnav {
    background-color: black;
    border-radius: 25px;
    height:300px;
    border:solid red; 
}

/* Style the links inside the navigation bar */
.topnav a {
    background-color: #ddd;
    color: black;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    font: bold 16px sans-serif;
    line-height: 65px;
    border-radius: 25px;
    border: solid red;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: red;
    border: solid black;
    color: white;
    height: 15px;
    width: 12px;
    border-radius: 25px;
}

/* Hero Image */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero-image.jpeg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.hero-image h5{
    margin-left:95%; 
    font-size:15px;
    color:#fff;
}

/* hero text */

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin: 5px;
}

.container-fluid{
    background-color: black;
    color: white;
    text-align: center;
    padding: 25px 20px;
}

.about{
    margin:5px;
    background-color: black;
}

.avatar {
    vertical-align: middle;
    border:solid red;
    border-radius: 25px;
    margin: 10px;
}

.list-group-item{
    color: white;
    background-color: black;
}

.services{
    color: white;
    margin: 5px;
}

.services ul{
    font: bold 16px sans-serif;
    list-style-type: none;
    text-align: left;
    margin-right: 5%;
    padding: 10px;
    border:solid red;
    border-radius: 25px;
}

.services p{
    font: bold 14px sans-serif;
    text-align: right;
}

.services li{
    border: solid 1px white;
    border-radius: 25px;
    margin: 10px;
}

.services li h5{
    border-bottom:solid 1px white;
}

.thumbnail img{
    border:solid white;
    border-radius: 25px;
    margin: 5px;
    
}
